@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Montserrat|Varela+Round|Monda);

body {
  font-family: "Roboto", sans-serif !important;
  background: #777;
  margin: auto;
  width: 80%;
}

nav .btn {
  background: rgba(247, 60, 60, 0.0) !important;
  border: 0px !important;
}

.dropdown-menu {
  background: #f73c3c !important;
  border-radius: 0px !important;
  border: 0px !important;
}

.form-group input {
  border: 0px !important;
}

.navbar {
  background: #ff3434 !important;
  border-radius: 0px !important;
  border: 0px !important;
  margin-bottom: 0px !important;
}

.navbar a {
  color: #fff !important;
}

.featured_title {
  text-align: center !important;
  margin-bottom: 20px;
}

.label {
  background: #ff3434;
  font-family: "Varela+Round", sans-serif;
  padding-top: 10px;
}

footer .panel, footer .panel-footer {
  text-align: right;
  background: #ff3434;
  border: 0;
  color: #fff;
  margin: 0;
}

footer .panel-footer {
  border-radius: 0px;
}

.movie_list {
  background: #e0e0e0;
}

.movie_list {
  padding: 10px;
}

.movie_list .input-group {
  width: 200px;
}

.movie_list .input-group button, .movie_list .input-group span {
  background: #fff;
  color: #000;
}

.list {
  background: #e0e0e0;
  border-collapse: separate;
  border-spacing: 0px 10px;
}

.list td {
  background: #eee;
}

.list .poster_pic {
  width: 150px;
}

.list .spacing {
  width: 5%;
}

.list .description {
  padding: 0px 10px;
  vertical-align: middle;
}

.list .description h4, .list .description h3, .list .description a, .list .description p {
  color: #000;
  margin: 0;
}

.list .description a:hover {
  color: #ff3434;
}

.list .description .table_buttons {
  margin: 20px 0px;
}

.list .description .table_buttons button {
  background: #ff3434;
  border: 0;
  color: #fff;
}

.list .description .table_buttons button:hover {
  background: #349aff;
}

#id {
  color: #999;
}

#myCarousel, .carousel-inner {
  height: 400px !important;
}

.carousel-control.left, .carousel-control.right {
  background-image: none
}

.carousel-indicators .active {
  background: #ff3434;
  border-color: #ff3434;
}

.movies {
  background: #e0e0e0;
}

.title {
  background: #ff3434;
  padding: 10px;
}

.title table {
  background: #ff3434;
  border:2px solid #fff;
  width: 40%;
}

.title td {
  padding: 10px;
  text-align: center;
}

.title h2 {
  color: #fff;
  margin: 0;
  text-transform:uppercase;
}
