@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Montserrat|Varela+Round|Monda);

body {
  font-family: "Roboto", sans-serif !important;
  background: #777;
  margin: auto;
  width: 80%;
}

nav .btn {
  background: rgba(247, 60, 60, 0.0) !important;
  border: 0px !important;
}

.dropdown-menu {
  background: #f73c3c !important;
  border-radius: 0px !important;
  border: 0px !important;
}

.form-group input {
  border: 0px !important;
}

.navbar {
  background: #ff3434 !important;
  border-radius: 0px !important;
  border: 0px !important;
  margin-bottom: 0px !important;
}

.navbar a {
  color: #fff !important;
}

.featured_title {
  text-align: center !important;
  margin-bottom: 20px;
}

.label {
  background: #ff3434;
  font-family: "Varela+Round", sans-serif;
  padding-top: 10px;
}

.row {
  margin-top: 0px !important;
  margin-bottom: 0px;
  margin: 0px auto;
  width: 100%;
  padding: 10px;
}

footer .panel, footer .panel-footer {
  text-align: right;
  background: #ff3434;
  border: 0;
  color: #fff;
  margin: 0;
}

.movie_list {
  background: #e0e0e0;
}

.movie_list {
  padding: 10px 10px;
}


.list {
  background: #e0e0e0;
}

.list td {
  background: #eee;
}

.list .poster_pic {
  width: 250px;
  text-align: center;
  padding: 25px;
}

.list .poster_pic img {
  width: 250px;
}

.list .title {
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}

.list .title h4, .list .title h3, .list .title h1, .list .title a, .list .title p {
  color: #000;
  margin: 0;
}

.list .description {
  padding: 10px;
  vertical-align: middle;
}

.list .description span {
  color: #ff3434;
}

.list .description h4, .list .description h3, .list .description h1, .list .description a, .list .description p {
  color: #000;
  margin: 0;
}

.list .description a:hover {
  color: #ff3434;
}

.list .movie_button {
  padding-bottom: 15px;
}

.list .movie_button .table_buttons {
  text-align: center;
}

.list .movie_button .table_buttons button {
  background: #ff3434;
  border: 0;
  color: #fff;
}

.list .movie_button .table_buttons button:hover {
  background: #349aff;
}

#id {
  color: #999;
}
