@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

html {
	width: 100%;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

table, td, tr {
	border-spacing: 0;
	border-collapse: collapse;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

img {
	display: block !important;
}

a {
	text-decoration: none;
	color: #72b2e8;
}

.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}
.form {
	position: relative;
	z-index: 1;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button, button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #ff3434;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
	background: #349aff;
}

button:hover, button:active, button:focus {
	background: #349aff;
}

#table-opacity {
	background: rgba(200, 200, 200, 0.7);
}
