<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <display-name>Fabflix</display-name>
    <description>
      Fabflix is a website for browsing and purchasing movies.
    </description>


  <!-- Primary Servlets -->


  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>fabflix.core.Login</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login/*</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>fabflix.core.Home</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home/*</url-pattern>
    <url-pattern></url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>fabflix.core.Search</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search/*</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>BrowseServlet</servlet-name>
    <servlet-class>fabflix.core.Browse</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BrowseServlet</servlet-name>
    <url-pattern>/browse/*</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>fabflix.core.SingleMovie</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/movie/*</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>StarServlet</servlet-name>
    <servlet-class>fabflix.core.SingleStar</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StarServlet</servlet-name>
    <url-pattern>/star/*</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>MovieListServlet</servlet-name>
    <servlet-class>fabflix.core.MovieList</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MovieListServlet</servlet-name>
    <url-pattern>/movie-list/*</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>fabflix.core.Cart</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart/*</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>fabflix.core.Checkout</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/checkout/*</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>ConfirmationServlet</servlet-name>
    <servlet-class>fabflix.core.Confirmation</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ConfirmationServlet</servlet-name>
    <url-pattern>/confirmation/*</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>ReportsServlet</servlet-name>
    <servlet-class>fabflix.core.Reports</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ReportsServlet</servlet-name>
    <url-pattern>/reports/*</url-pattern>
  </servlet-mapping>


<!-- Primary JSPs -->



<!-- Filter Servlets -->

  <!--
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>fabflix.filters.Authentication</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/</url-pattern>
    <url-pattern>/home/*</url-pattern>
    <url-pattern>/browse/*</url-pattern>
    <url-pattern>/login/*</url-pattern>
    <url-pattern>/search/*</url-pattern>
    <url-pattern>/movie/*</url-pattern>
    <url-pattern>/star/*</url-pattern>
    <url-pattern>/movie-list/*</url-pattern>
  </filter-mapping>
  -->


<!-- Other Declarations -->

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <el-enabled>true</el-enabled>
      <scripting-enabled>true</scripting-enabled>
    </jsp-property-group>
  </jsp-config>

  <!-- <error-page>
    <error-code>401</error-code>
    <location>/error.html</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.html</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/error.html</location>
  </error-page> -->


</web-app>