<?xml version="1.0" encoding="UTF-8"?>

<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Fabflix</display-name>
    <description>
      Fabflix is a website for browsing and purchasing movies
    </description>


  <!-- Define servlets that are included in the example application -->


  <servlet>
    <servlet-name>TomcatFormServlet</servlet-name>
    <servlet-class>TomcatForm</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TomcatFormServlet</servlet-name>
    <url-pattern>/TomcatForm</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>SearchDBServlet</servlet-name>
    <servlet-class>SearchDB</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SearchDBServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>MovieListServlet</servlet-name>
    <jsp-file>/WEB-INF/MovieList.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>MovieListServlet</servlet-name>
    <url-pattern>/movie-list</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>SearchPageServlet</servlet-name>
    <jsp-file>/WEB-INF/search.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>SearchPageServlet</servlet-name>
    <url-pattern>/search-page</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>/WEB-INF/index.jsp</welcome-file>
  </welcome-file-list>

  <!--
  <error-page>
      <error-code>404</error-code>
      <location>/WEB-INF/err404.jsp</code>
  </error-page>
   -->

</web-app>